.headerContainer {
    width: 80%;
    background-color: #282c34;
    margin: 0 auto;
}

.header {

    height: 100px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 599px){

    .header {
        width: 100%;
        justify-content: center;
    }
}
