.contactsContainer {
    width: 80%;
    height: fit-content;
    background-color: #282c34;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactsForm {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.contactsForm input, textarea {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    height: 30px;
    font-family: inherit;
    font-size: 1.1rem;
    box-shadow: 0 0 6px 3px grey;
    border: transparent;
}

.contactsForm input:focus, textarea:focus {
    box-shadow: 0 0 6px 3px #efc700;
    outline: none;
}

.contactsForm input::placeholder, textarea::placeholder {
    letter-spacing: .2em;
    font-style: italic;
    opacity: .6;
    padding: 5px;
}

.contactsForm textarea {
    height: fit-content;
    resize: vertical;
    min-height: 20%;
    max-height: 50%;
}

.message {
    width: 50%;
    color: #efc700;
    text-align: center;
    border: 1px solid ivory;
    border-radius: 20px;
    box-shadow: 0 0 4px 1px #efc700;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 5px;
}

.contactsForm button {
    outline: none;
    width: 80px;
    height: 30px;
    background-color: #efc700;
    border-radius: 10px;
    color: #fffff0;
    letter-spacing: .2em;
    font-weight: bold;
    font-size: .7em;
    text-align: center;
    box-shadow: 0 0 4px 1px #efc700;
    opacity: .7;
}

.contactsForm button:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 599px) {
    .contactsContainer {
        width: 90%;
    }
    .contactsForm {
        width: 100%;
    }
    .message {
        width: 100%;
    }
}