.socialLinksContainer {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	z-index: 1000;
}

.socialLinkContainer {

}

.socialLink {
	text-decoration: none;
	text-align: right;
	opacity: .5;
	color: var(--color-primary);
	position: relative;
	width: 40px;
	height: 50px;
	left: -10px;
	transition: 0.5s ease;
}

.socialLink:hover {
	left: 0;
	opacity: 1;
}

.facebook,
.instagram,
.github,
.linkedin {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 5px;
}

.facebook {
	background-color: #4267b2;
}

.instagram {
	background-color: #8a3ab9;
}

.linkedin {
	background-color: #0072b1;
}

.github {
	background-color: #4078c0;
}
