.portfolioContainer {
    width: 80%;
    height: fit-content;
    background-color: #282c34;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portfolioContent {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

@media screen and (max-width: 599px) {
    .portfolioContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .portfolioContent {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}