.btn {
    outline: none;
    width: fit-content;
    height: 30px;
    background-color: #efc700;
    border-radius: 10px;
    color: #fffff0;
    letter-spacing: .2em;
    font-weight: bold;
    font-size: .7em;
    text-align: center;
    box-shadow: 0 0 4px 1px #efc700;
    box-sizing: content-box;
    opacity: .7;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .btn {
        width: 40%;
        height: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .btn {
        width: 40%;
        height: 40px;
    }
}