.freelanceContainer {
    width: 80%;
    height: 150px;
    background-color: #282c34;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.freelanceContainer h2, h3 {
    margin: 0;
}

.freelanceHeader, .freelanceHireMe {
    border: 1px solid;
}

.freelanceHeader{

}

.freelanceHireMe {

}