.header {
    font-size: 1.3em;
    letter-spacing: .6em;
    position: relative;
    text-align: center;
    margin-bottom: 70px;
    color: var(--color-primary);
}

.header:before {
    content: "";
    position: absolute;
    width: 80%;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    height: 2px;
    background-color: var(--color-secondary);
}

@media screen and (max-width: 599px) {
    .header {
        letter-spacing: .3em;
    }
}