.skillsContainer {
    width: 80%;
    height: fit-content;
    background-color: #282c34;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skillsContent {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

}

@media screen and (max-width: 540px) {

    .skillsContainer {
        width: 90%;
        height: fit-content;
    }

    .skillsContent {
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .skillsContainer {
        width: 90%;
        height: fit-content;
    }

    .skillsContent {
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1024px) {
    .skillsContainer {
        width: 90%;
        height: fit-content;
    }

    .skillsContent {
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
    }
}
