.skillContainer {
    width: 25%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skillLogo {
    width: 30%;
    height: 23%;
    border: 1px solid;
}

.skillHeader {
    width: 100%;
    border: 1px solid;
    text-align: center;
    height: fit-content;
}

.skillDescription {
    width: 100%;
    border: 1px solid;
    height: 40%;
}