.skillContainer {
    width: 25%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skillLogo {
    width: 40%;
    height: 20%;
}

.skillHeader {
    width: 100%;
    text-align: center;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.skillDescription {
    width: 90%;
    height: 60%;
}

@media screen and (max-width: 599px) {
    .skillContainer {
        width: 100%;
        margin-bottom: 40px;
    }

    .skillLogo {
        width: 40%;
        border: 1px solid;
        margin-bottom: 20px;
    }

    .skillLogo img {
        width: 100%;
        height: 100%;
    }

    .skillHeader {
        margin-bottom: 40px;
    }

    .skillDescription {
        width: 95%;
    }
}