.navbar {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navbar a {
    color: var(--color-primary);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.navbar a:hover {
    background-color: var(--color-secondary);

}

@media screen and (max-width: 540px){
    .navbar {
        width: 100%;
    }
}

@media screen and (max-width: 990px){
    .navbar {
        display: none;
        flex: 5
    }
}