.specificPortfolioContainer {
    width: 40%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.specificPortfolioContainer p {
    margin: 0;
}

.specificPortfolioImageContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.specificPortfolioImageContainerOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.specificPortfolioImageContainer .btn {
    position: relative;
    letter-spacing: .2em;
    opacity: .6;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    background-color: #282c34;
    color: ivory;
    box-shadow: 0 0 2px 2px rgba(255, 255, 240, .8);
    transition: 0.5s;
    z-index: 1;
    border-radius: 10%;
}

.specificPortfolioImageContainer a {
    text-decoration: none;
    color: ivory;
}

.specificPortfolioImageContainer .btn:hover {
    opacity: 1;
    cursor: pointer;
}

.specificPortfolioProjectHeader, .specificPortfolioProjectDescription {
    margin: 30px 0;
    text-align: justify;

}

.specificPortfolioProjectHeader {
    font-size: 2rem;
    text-align: center;
    letter-spacing: .2rem;
}

.specificPortfolioProjectDescription {
    font-size: 1.7rem;
}

.specificPortfolioProjectDescription article {
    font-size: 1.4rem;
    overflow: hidden;
    line-height: 2rem;
}

@media screen and (max-width: 540px) {
    .specificPortfolioContainer {
        width: 90%;
        margin-bottom: 50px;
    }

    .specificPortfolioProjectHeader, .specificPortfolioProjectDescription {
        width: 100%;
        margin: 20px auto;
    }

    .specificPortfolioProjectHeader {
        font-size: 1.5rem;
    }

    .specificPortfolioProjectDescription {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .specificPortfolioContainer {
        width: 80%;
    }

    .specificPortfolioImageContainer {
        height: 300px;
    }

    .specificPortfolioProjectHeader {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: .2rem;
    }

    .specificPortfolioProjectDescription {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .specificPortfolioContainer {
        width: 80%;
    }

    .specificPortfolioImageContainer {
        height: 300px;
    }

    .specificPortfolioProjectHeader {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: .2rem;
    }

    .specificPortfolioProjectDescription {
        font-size: 1.2rem;
    }
}
